<body>


  <h1>Editing Book</h1>
  
  <% if @book.errors.any? %>
  <div class="edit-error-messages">
　  <p><%= @book.errors.count %>errors prohibited this book from being saved:</p>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  
  <%= form_with model:@book, url:book_path(@book.id), method: :patch do |f| %>
  <div class="field">
    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <h4>Body</h4>
    <%= f.text_area :body %></br>
  </div>

  <div class="edit-actions">
    <%= f.submit "Update Book" %>
  </div>
  <% end %>

  <div class="book-links">
    <div class="start-link-show"><%= link_to "Show", book_path %></div>
    <div class="start-link-back"><%= link_to "Back", books_path %></div>
  </div>

</body>
